::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(16, 31, 28, 0.05);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(16, 31, 28, 0.2);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(16, 31, 28, 0.5);
}

button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
}

select {
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  width: 80px;
  padding: 0 8px;
}

#app {
  width: 800px;
  height: 580px;
  padding: 10px 0;
  display: flex;
}

.func {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  border-right: 1px solid #dcdfe6;
}
.func .logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.func .iconfont {
  font-size: 22px;
  margin: 5px 0;
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s;
}
.func .iconfont.active {
  color: #1eafb4;
}

.func-container {
  flex: 1;
  padding: 0 10px;
  overflow: hidden;
}
.func-container > div {
  height: 100%;
  width: 100%;
  display: none;
}
.func-container .jiemi {
  display: flex;
  flex-direction: column;
}
.func-container .json {
  display: flex;
  border: 1px solid #dcdfe6;
  position: relative;
}
.func-container .json > div {
  flex: 1;
  overflow: auto;
}
.func-container .json > div:first-of-type {
  border-right: 1px solid #dcdfe6;
}
.func-container .json textarea {
  width: 100%;
  height: calc(100% - 3px);
  border: unset;
  resize: none;
  outline: none;
  padding: 5px;
}
.func-container .json .json-json-box {
  padding: 5px 12px;
}
.func-container .json .icon-fuzhi {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  color: #999;
}
.func-container .json .icon-fuzhi:hover {
  color: #333;
}
.func-container .shijian label {
  margin-right: 10px;
}
.func-container .shijian input {
  border: 1px solid #dcdfe6;
  outline: none;
  border-radius: 2px;
  height: 30px;
  margin-bottom: 2px;
  padding: 0 5px;
  width: 180px;
}
.func-container .shijian input ~ span {
  font-size: 14px;
  margin-left: 20px;
}

.header {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebeef5;
}
.header .url-select {
  flex: 1;
}

.cache-length {
  margin-right: 10px;
}

.clear-all {
  color: #f56c6c;
  background: #fef0f0;
  border-color: #fbc4c4;
  margin-left: 20px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  overflow: hidden;
}
.main .top {
  flex: 1;
  border-bottom: 1px solid #ebeef5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 5px;
}
.main .top .thead {
  padding: 5px 0;
  background: #f2f2f2;
}
.main .top #list {
  flex: 1;
  overflow: auto;
}
.main .top .thead,
.main .top .row {
  display: flex;
  padding: 5px 0;
  cursor: pointer;
}
.main .top .thead:nth-child(even),
.main .top .row:nth-child(even) {
  background: #f6f6f6;
}
.main .top .thead.selected,
.main .top .row.selected {
  background: #cbf6c9;
}
.main .top .thead div,
.main .top .row div {
  padding: 0 5px;
}
.main .top .thead div:nth-of-type(1),
.main .top .row div:nth-of-type(1) {
  width: 25px;
}
.main .top .thead div:nth-of-type(2),
.main .top .row div:nth-of-type(2) {
  width: 60px;
}
.main .top .thead div:nth-of-type(1), .main .top .thead div:nth-of-type(2),
.main .top .row div:nth-of-type(1),
.main .top .row div:nth-of-type(2) {
  text-align: center;
}
.main .top .thead div:nth-of-type(3),
.main .top .row div:nth-of-type(3) {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .bottom {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding: 5px 0 5px 10px;
}
.main .bottom pre {
  font-family: system-ui, "PingFang SC", STHeiti, sans-serif !important;
  line-height: 1.2;
}
.main .bottom .info {
  position: relative;
  flex: 1;
  overflow: hidden;
}
.main .bottom .info .json-box {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.main .bottom .icon-fuzhi {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  color: #999;
}
.main .bottom .icon-fuzhi:hover {
  color: #333;
}

/*# sourceMappingURL=popup.css.map */
